@font-face {
  font-family: titleFont;
  src: url('./fonts/Breakfast.ttf') format('truetype');
}

@font-face {
  font-family: subTitleFont;
  src: url('./fonts/La FlibustiКre.ttf') format('truetype');
}

